.catalog
  padding-top: 76px
  padding-bottom: 75px
  overflow: hidden
  &__container
    width: 2608px
  &__wrapper
    width: 1920px
  &__title
    margin: 0
    margin-bottom: 28px
    font-family: 'Cuprum', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 44px
    color: #0A0C1E
  &__slider
    height: 720px
  &__slide
    height: 666px
    display: flex
    flex-direction: column
    align-items: flex-start
    border: 1px solid #E0E0E0
    border-radius: 12px
    padding: 45px 21px 35px 33px
    &-rent
      margin-top: 8px
      margin-bottom: 71px
      display: block
      font-family: 'Arsenal', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 31.2094px
      line-height: 26px
      color: #FF6262
    &-img
      margin-left: 42px
      margin-bottom: 48px
      width: 209px
      height: 209px
      &_margin-bottom
        margin-bottom: 28px
    &-title
      position: relative
      margin: 0
      margin-bottom: 16px
      max-width: 247px
      font-family: 'Arsenal', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 22px
      line-height: 22px
      color: $text-color-primary
      cursor: pointer
      &_width
        width: 227px
      &_light
        color: #7D7D7D
      &::after
        position: absolute
        left: 0
        right: 0
        bottom: -7px
        content: ''
        width: 100%
        height: 1px
        border-bottom: 1px dashed #444444
        opacity: .5
    &-ul
      margin: 0
      // margin-bottom: 13px
      padding: 0
      list-style: none
      &-item
        margin-bottom: 6px
        font-family: 'Arsenal', sans-serif
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 22px
        color: #52525B
        &_light
          color: #A6A6A6
        &:last-child
          margin-bottom: 0
    &-select
      position: relative
      width: 224px
      font-family: 'Arsenal', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 31.2094px
      line-height: 26px
      color: $text-color-primary
      cursor: pointer
      &::after
        position: absolute
        right: 0
        top: 20px
        content: ''
        width: 8px
        height: 8px
        border-bottom: 3px solid #2B2A39
        border-right: 3px solid #2B2A39
        transform: rotate(-45deg)
        transition: .5s
      &_active
        &::after
          position: absolute
          right: 0
          top: 20px
          content: ''
          width: 8px
          height: 8px
          border-bottom: 3px solid #2B2A39
          border-right: 3px solid #2B2A39
          transform: rotate(-135deg)
          transition: .5s
      &-ul
        position: absolute
        bottom: 40px
        padding-right: 15px
        padding-left: 15px
        margin: 0
        width: 200px
        height: 0
        display: none
        background-color: #fff
        border: 1px solid transparent
        border-radius: 12px
        list-style: none
        overflow: hidden
        transition: .5s
        cursor: pointer
        z-index: -20
        &_active
          display: block
          transition: .5s
          border: 1px solid #DFDFDF
          border-radius: 12px
          z-index: 20
      &-input
        position: relative
        width: 224px
        border: none
        background-color: transparent
        height: 40px
        font-family: 'Arsenal', sans-serif
        font-style: normal
        font-weight: bold
        font-size: 28px
        line-height: 26px
        color: $text-color-primary
        cursor: pointer
        z-index: -1
      &-option
        padding-bottom: 3.5px
        padding-top: 3.5px
        padding-left: 5px
        padding-right: 5px
        font-size: 21px
        // font-weight: normal
        &:hover
          background-color: $button-color-primary
          border-radius: 12px
          color: #fff
        &:first-child
          margin-top: 21px
        &:last-child
          margin-bottom: 20px
    &-buttons
      margin-top: 12px
      width: 269px
      display: flex
      align-items: center
      justify-content: space-between
      flex-wrap: wrap
    &-button
      position: relative
      max-width: 136px
      padding: 14px 0
      padding: 14px 25px
      &::placeholder
        font-family: 'Cuprum', sans-serif
        font-style: normal
        font-weight: bold
        font-size: 14px
        line-height: 16px
        text-align: center
        color: #fff
      &:first-child
        max-width: 125px
        padding: 14px 36px
    &-secondary-button
      padding: 14px 24px
      font-family: 'Cuprum', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 15px
      line-height: 19px
      text-align: center
      border: 1px solid #403f4c
      border-radius: 6px
      background-color: #fff
      transition: .3s
      &:hover
        border: 1px solid #878787
        transition: .3s
      &_inside
        margin-top: 7px
    &-pagination
      position: absolute
      left: 61px !important
      display: flex
      align-items: center
      z-index: -1
      &-bullet
        margin-right: 13px
        width: 8px
        height: 8px
        border-radius: 100%
        background-color: #2C2B43
        opacity: .2
        cursor: pointer
        &_active
          opacity: 1
    &-arrow
      position: absolute
      bottom: 3px
      width: 20px
      height: 24px
      display: flex
      align-items: center
      z-index: 1
      cursor: pointer
      &_next
        left: 24px
        background: url(../img/arrow-next.svg)
        background-size: 15px 20px
        background-repeat: no-repeat
        background-position: center center
      &_prev
        background: url(../img/arrow-prev.svg)
        background-size: 15px 20px
        background-repeat: no-repeat
        background-position: center center
  // &__hidden
  //   position: absolute
  //   width: 0
  //   height: 0
  //   padding: 0
  //   margin: 0
  //   border: none
