.footer
  padding-top: 168px
  padding-bottom: 52px
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
  &__phone
    font-family: 'Cuprum', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 22px
    line-height: 25px
    text-align: center
  &__email
    font-family: 'Cuprum', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 22px
    line-height: 25px
    text-align: center
    color: $text-color-primary
