*
  box-sizing: border-box
body
  background-color: #fff
input
  outline: none
button
  outline: none
  cursor: pointer
a
  text-decoration: none
  color: inherit
img
  width: 100%
.container
  max-width: 1601px
  margin: auto
.button
  background-color: $button-color-primary
  border-radius: 6px
  font-family: 'Cuprum', sans-serif
  font-style: normal
  font-weight: bold
  font-size: 18px
  line-height: 21px
  border: none
  color: #fff
  text-align: center
  cursor: pointer
  &_secondary
    background-color: $button-color-secondary

