*
  box-sizing: border-box
body
  background-color: #fff
input
  outline: none
button
  outline: none
  cursor: pointer
a
  text-decoration: none
  color: inherit
img
  width: 100%
.container
  max-width: 1601px
  margin: auto
.button
  background-color: $button-color-primary
  border-radius: 6px
  font-family: 'Cuprum', sans-serif
  font-style: normal
  font-weight: bold
  font-size: 18px
  line-height: 21px
  border: none
  color: #fff
  text-align: center
  cursor: pointer
  &:hover
    background-color: #5070E2
    transition: .3s
  &_secondary
    background-color: $button-color-secondary
    &:hover
      background-color: #121117
      transition: .3s
.modal-sell
  &__overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(78, 80, 93, 0.5)
    z-index: 998
    visibility: hidden
    &_visible
      visibility: visible
  &__dialog
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    padding: 84px 53px 69px 53px
    display: flex
    flex-direction: column
    align-items: center
    background-color: #fff
    border-radius: 6px
    z-index: 999
    visibility: hidden
    &_visible
      visibility: visible
  &__close
    position: absolute
    top: 21px
    right: 24px
    background: url(../img/close.svg)
    background-repeat: no-repeat
    background-position: center center
    width: 25px
    height: 25px
    cursor: pointer
  &__status
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &-text
      margin-top: 10px
      font-family: 'Arsenal', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 128.91%
  &__form
    display: flex
    flex-direction: column
    align-items: center
    &-title
      margin: 0
      margin-bottom: 13px
      font-family: 'Cuprum', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 36px
      line-height: 44px
      color: #0A0C1E
    &-text
      margin: 0
      margin-bottom: 23px
      max-width: 240px
      text-align: center
      font-family: 'Cuprum', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 21px
      color: $text-color-primary
    &-input
      margin-bottom: 5px
      padding-left: 20px
      padding-right: 10px
      width: 186px
      height: 54px
      border: 1px solid #2B2A39
      border-radius: 6px
      &::placeholder
        font-family: 'Cuprum', sans-serif
        font-style: normal
        font-weight: normal
        font-size: 17px
        line-height: 26px
        color: #A4A4A4
    &-button
      padding: 15px 58px 13px 60px
      font-family: 'Cuprum', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 17px
      line-height: 26px
    &-policy
      margin: 0
      margin-top: 19px
      max-width: 181px
      font-family: 'Arsenal', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 128.91%
      color: #8F9DA7
      text-align: center
    &-link
      position: relative
      &::after
        position: absolute
        bottom: 2px
        left: 0
        right: 0
        content: ''
        width: 100%
        height: 1px
        background-color: #8F9DA7
.modal-rent, .modal-notify
  &__overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(78, 80, 93, 0.5)
    z-index: 998
    visibility: hidden
    &_visible
      visibility: visible
  &__dialog
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    padding: 84px 53px 69px 53px
    display: flex
    flex-direction: column
    align-items: center
    background-color: #fff
    border-radius: 6px
    z-index: 999
    visibility: hidden
    &_visible
      visibility: visible
  &__close
    position: absolute
    top: 21px
    right: 24px
    background: url(../img/close.svg)
    background-repeat: no-repeat
    background-position: center center
    width: 25px
    height: 25px
    cursor: pointer
  &__form
    display: flex
    flex-direction: column
    align-items: center
    &-title
      margin: 0
      margin-bottom: 13px
      font-family: 'Cuprum', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 36px
      line-height: 44px
      color: #0A0C1E
    &-text
      margin: 0
      margin-bottom: 23px
      max-width: 240px
      text-align: center
      font-family: 'Cuprum', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 21px
      color: $text-color-primary
    &-input
      margin-bottom: 5px
      padding-left: 20px
      padding-right: 10px
      width: 186px
      height: 54px
      border: 1px solid #2B2A39
      border-radius: 6px
      &::placeholder
        font-family: 'Cuprum', sans-serif
        font-style: normal
        font-weight: normal
        font-size: 17px
        line-height: 26px
        color: #A4A4A4
    &-message
      height: 95px
      margin-bottom: 5px
      padding-left: 20px
      padding-right: 10px
      padding-top: 14px
      width: 186px
      border: 1px solid #2B2A39
      border-radius: 6px
      resize: none
      outline: none
      &::placeholder
        font-family: 'Cuprum', sans-serif
        font-style: normal
        font-weight: normal
        font-size: 17px
        line-height: 26px
        color: #A4A4A4
    &-button
      padding: 15px 58px 13px 60px
      font-family: 'Cuprum', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 17px
      line-height: 26px
    &-policy
      margin: 0
      margin-top: 19px
      max-width: 181px
      font-family: 'Arsenal', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 128.91%
      color: #8F9DA7
      text-align: center
    &-link
      position: relative
      &::after
        position: absolute
        bottom: 2px
        left: 0
        right: 0
        content: ''
        width: 100%
        height: 1px
        background-color: #8F9DA7
.modal-info
  &__overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(78, 80, 93, 0.5)
    z-index: 998
    visibility: hidden
    &_visible
      visibility: visible
  &__dialog
    position: fixed
    top: 50%
    left: 50%
    max-width: 576px
    width: 100%
    height: 95vh
    transform: translate(-50%, -50%)
    padding: 51px 55px 30px 44px
    display: flex
    flex-direction: column
    align-items: center
    background-color: #fff
    border-radius: 6px
    z-index: 999
    overflow-y: scroll
    visibility: hidden
    &::-webkit-scrollbar
      width: 7px
      height: 8px
      background-color: #a1a1a1
    &::-webkit-scrollbar-thumb
      background-color: rgba(44, 43, 67, 0.16)
      border-radius: 9em
      box-shadow: inset 1px 1px 10px #f3faf7
    &_visible
      visibility: visible
  &__close
    position: absolute
    top: 43px
    right: 39px
    background: url(../img/close.svg)
    background-repeat: no-repeat
    background-position: center center
    width: 25px
    height: 25px
    cursor: pointer
  &__title
    margin: 0
    margin-bottom: 11px
    font-family: Cuprum
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 44px
    color: #0A0C1E
  &__paragraph
    &-title
      margin: 0
      font-family: 'Arsenal', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 17px
      line-height: 141.5%
      color: #52525B
    &-text
      margin: 0
      margin-bottom: 25px
      max-width: 460px
      width: 100%
      font-family: 'Arsenal', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 17px
      line-height: 141.5%
      color: #52525B
    &-ul
      padding: 0
      margin: 0
      margin-bottom: 25px
      list-style: none
      &-item
        font-family: 'Arsenal', sans-serif
        font-style: normal
        font-weight: normal
        font-size: 17px
        line-height: 141.5%
        color: #52525B
.loader
  display: none
  margin-top: 10px
  width: 40px
  height: 40px
  background-color: transparent
  border: 3px solid rgba(44, 43, 67, 0.16)
  border-top: 3px solid $button-color-primary
  border-radius: 100%
  animation: spiner 1s infinite ease-in-out
  &-rent
    // margin-left: 10px
    display: none
    margin-top: 10px
    width: 40px
    height: 40px
    background-color: transparent
    border: 3px solid rgba(44, 43, 67, 0.16)
    border-top: 3px solid $button-color-primary
    border-radius: 100%
    animation: spiner 1s infinite ease-in-out
  &-callback
    display: none
    margin-top: 10px
    width: 40px
    height: 40px
    background-color: transparent
    border: 3px solid rgba(44, 43, 67, 0.16)
    border-top: 3px solid $button-color-primary
    border-radius: 100%
    animation: spiner 1s infinite ease-in-out
  &-notify
    display: none
    margin-top: 10px
    width: 40px
    height: 40px
    background-color: transparent
    border: 3px solid rgba(44, 43, 67, 0.16)
    border-top: 3px solid $button-color-primary
    border-radius: 100%
    animation: spiner 1s infinite ease-in-out
@keyframes spiner
  to
    transform: rotate(360deg)
.scroll-hidden
  overflow: hidden
  padding-right: 18px
.d-none
  display: none !important
