@media ( max-width: 1200px )
  .container
    max-width: 900px
  .main
    &__title
      font-size: 75px
      line-height: 74%
      &_bottom
        font-size: 60px
    &__subtitle
      font-size: 26px
    &__img
      width: 458px
      height: 446px
