@media ( max-width: 1500px )
  .container
    max-width: 1000px
  .main
    &__wrapper
      margin-left: 0
    &__title
      font-size: 93px
      line-height: 80%
      &_bottom
        font-size: 75px
    &__subtitle
      font-size: 28px
  .use
    &__grid
      grid-template-columns: repeat(3, 1fr)
      grid-column-gap: 101px
  .rent
    &__wrapper
      flex-wrap: wrap
    &__card
      max-width: 490px
      width: 100%
      &:nth-child(1)
        margin-bottom: 40px
      &:nth-child(2)
        margin-bottom: 40px
      // &-description
      //   max-width: 338px

