@media ( max-width: 992px )
  .container
    max-width: 700px
  .header
    padding-top: 25px
    padding-bottom: 25px
    &__logo
      width: 116px
    &__nav
      margin-left: 37px
    &__ul
      max-width: 193px
    &__item
      font-size: 17px
    &__phone
      font-size: 20px
    &__phones
      max-width: 292px
  .main
    padding-top: 97px
    padding-bottom: 110px
    &__text
      margin-bottom: 0
    &__title
      margin-bottom: 18px
      font-size: 63px
      &_bottom
        font-size: 50px
    &__subtitle
      font-size: 22px
    &__buttons-group
      flex-wrap: wrap
    &__button
      margin-top: 16px
      margin-bottom: 16px
      margin-right: 0
      max-width: 220px
      width: 100%
      &_secondary
    &__img
      width: 408px
      height: 396px
  .catalog
    &__title
      line-height: 33px
      margin-bottom: 20px
    &__slider
      height: 590px
    &__slide
      height: 547px
      padding: 20px 11px 20px 24px
      &-img
        margin: auto
        margin-bottom: 40px
        margin-top: 0
        // margin-left: 40px
        width: 169px
        height: 169px
        &_margin-bottom
          margin-bottom: 18px
      &-rent
        font-size: 27px
      &-title
        font-size: 19px
      &-ul
        &-item
          font-size: 12px
          line-height: 18px
      &-select
        width: 199px
        &-input
          font-size: 24px
        &-ul
          font-size: 26px
          width: 217px
        &-option
          &:last-child
            margin-bottom: 10px
          &:first-child
            margin-top: 10px
      &-buttons
        margin-top: 10px
        width: 226px
      &-button
        padding: 11px 20px
        font-size: 15px
        &:first-child
          padding: 11px 32px
      &-secondary-button
        padding: 11px 20px
        &_inside
          width: 226px
      &-rent
        margin-bottom: 65px
  .use
    &__grid
      grid-template-columns: repeat(2, 1fr)
      grid-column-gap: 100px
      grid-row-gap: 35px
  .rent
    &__card
      max-width: 340px
      &:nth-child(1)
        margin-bottom: 30px
      &:nth-child(2)
        margin-bottom: 30px
  .faq
    &__tab
      &:last-child
        padding-bottom: 20px
      &-wrapper
        max-width: 578px
  .callback
    &__title
      font-size: 60px
      line-height: 51px
    &__form
      max-width: 516px
      &-input
        max-width: 180px
      &-button
        padding: 15px 36px 13px 37px
  .modal-info
    &__dialog
      max-width: 482px
    &__title
      font-size: 25px
      line-height: 25px
    &__close
      top: 25px
      right: 25px
    &__paragraph
      &-title
        font-size: 15px
      &-text
        margin-bottom: 10px
        font-size: 15px
        // line-height: 123%
      &-ul-item
        font-size: 15px
        // line-height: 123%
