@media ( max-width: 576px )
  .use
    padding-top: 40px
    &__title
      max-width: 440px
      font-size: 26px
      line-height: 28px
    &__grid
      grid-template-columns: repeat(1, 1fr)
      grid-row-gap: 50px
    &__card
      justify-self: center
      text-align: center
      &-title
        font-size: 21px
        line-height: 27px
      &-description
        font-size: 18px
  .rent
    padding-top: 30px
    padding-bottom: 25px
  .faq
    padding-top: 25px
    &__tab
      padding-bottom: 5px
      &:last-child
        padding-bottom: 30px
      &-title
        margin-bottom: 30px
        &_is-open
          margin-bottom: 5px
        // height: 50px